<component name="libraryTable">
  <library name="spring&amp;jdbcTemplate">
    <CLASSES>
      <root url="file://$PROJECT_DIR$/JDBC/spring&amp;jdbcTemplate" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$PROJECT_DIR$/JDBC/spring&amp;jdbcTemplate" recursive="false" />
  </library>
</component>